.header {
    padding-top: 150px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #28a745;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");

}

.header__image {
    display: block;
}

.header__name {
    color: white;
}